<div class="page-header"><h1>Classrooms</h1>

<ul class="nav navbar-nav">
  <% if can? :create, Classroom %>
    <li><%= link_to 'Add Classroom', new_classroom_path %></li>
  <% end %>
</ul>
</div>

<% @classrooms.each do |classroom| %>
  <div class="well well-sm">
    <h2><%= classroom.title %></h2>
  </div>
<% end %>